/* Variables */
:root {
    --main-color:linear-gradient(rgb(130, 169, 228), rgb(26, 106, 172));
    --collection-bg:linear-gradient(rgb(133, 133, 133), rgb(29, 29, 29));
    
    
}



/* Main Design */
.collection {
    margin-top: 4em;
    margin-left: 0;
    margin-right: 0;
}

#dashboard  {
    padding: 0;
}

body {
    /* border: 1px solid blue; */
}

.main-header,
.main-color {
    background: var(--main-color); 

}

.collection-header {
    background:var(--collection-bg); 
    color: #fff;
    
}
.sub-title {
    color: #ddd;
    font-style: italic;
    
}

i.fa-user {
    color:rgb(26, 106, 172);
}

#footer {
    height: 40px;
    background-color: red;
}

/* Span Classes */
span.logo {
    font-size: 25px;
}