/* Variables */
:root {
    --main-color:linear-gradient(rgb(130, 169, 228), rgb(26, 106, 172));
    --collection-bg:linear-gradient(rgb(133, 133, 133), rgb(29, 29, 29));
    
    
}



/* Main Design */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.collection {
    margin-top: 4em;
    margin-left: 0;
    margin-right: 0;
}

#dashboard  {
    padding: 0;
}

body, html {
    /* border: 1px solid blue; */
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.main-header,
.main-color {
    background: var(--main-color); 
    width: 100%;
}

.collection-header {
    background:var(--collection-bg); 
    color: #fff;
    
}
.sub-title {
    color: #ddd;
    font-style: italic;
    
}

i.fa-user {
    color:rgb(26, 106, 172);
}

#footer {
    height: 40px;
    background-color: red;
}

/* Span Classes */
span.logo {
    font-size: 25px;
}

/* Login style block */

.auth-container {
    border: 1px solid green;
    width: 100%;
    min-width: 360px;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    
}